
        <h1 class="orange"> Dismissal for Delay</h1>
        <br /><br />

        <p>
            A criminal case will get dismissed if it takes too long to bring to trial.&nbsp;
            The exact time limit varies from case to case but it is usually 18 months for
            less serious offences and 30 months for more serious offences.
        </p><br />
        <h3>How it Works</h3> <br />
        <p>
            To get a case dismissed for delay you have to show that the delay was caused by the police and not by you. &nbsp;
            The hardest part of the prosecutor's job before a trial is making sure you have a copy of all the evidence available in the case
            &nbsp; When they don't, you can create a delay that counts against them by refusing to book a
            trial date until the evidence is provided.
        </p>
        <br />
        <p>
            Some quick examples of evidence to ask for are videos from the police car and the police station. &nbsp; Make sure you have a list of all the officers involved
            in your case, and make sure you have notes for all the police officers. &nbsp; There are also charge specific things police must provide. &nbsp; For example D.U.I charges have a certificate
            from the breath tech, as well as the data from the breath testing  device.
        </p>
<br />
        <p>
            Although it seems unlikely to do this for 18 months, remember that it sometimes takes a year or even longer to get a trial date. &nbsp;
            So a few months tacked on could easily get a case dismissed
        </p>
        <br />
