


        <h1 class="orange">Getting Evidence Kicked Out</h1>
        <br /><br />
        <p>
            Not all evidence can be used in court. &nbsp; 
            
            
            Police can’t use evidence if it is: 
            <ul><li>&middot; unreliable, or</li><li>&middot; unconstituional.</li></ul>
            <br />
          <h3>Unrelaible Evidence</h3>
            <br/>
            <p>Police cannot use evidence that is known to be unreliable. &nbsp; Unreliable evidence includes confessions which
            which were obtained through pomises or threats. &nbsp; It also includes statements about what 
                a person heard someone else say and identifications from lineups. &nbsp; (Yes lineups, popular in movies, 
                have caused many wrongful convictions and are not allowed, you have to show suspects sequentially). &nbsp;
            There are many other examples of unreliable evidence that would take an entire textbook to go over.</p>
<br />
          <h3>Unconstitutional Evidence</h3>
<br />
           <p>Police cannot use evidence if it was obtained in an unconstitutional way. &nbsp; For example, if the police search you without
            having a good reason, they cannot use what they find against you in court. &nbsp; This is because the 
            constitution doesn't allow the police to arbitrarily search people.
        </p>
        <br />
        <p>
            Unconstitutional evidence does not automatically
            become unusable. &nbsp; To get rid of the evidence, you must file a constitutional
            application at least 30 days before the trial date. &nbsp; The application must state what
            evidence you want to get rid of and the constitutional basis for getting rid of it.
        </p>
        
      
   