
        <h1 class="orange">Criminal Court</h1>
<br /><br />
        <p>
            Your first time in court will be in something called set date court. &nbsp;
            &nbsp; Set date court serves the following functions: 
          
        </p>
        <ul>
            <li>Making sure the prosecutor has given you a copy all the evidence that will be used against you</li>
            <li>Seeing if your case can be resolved without a trial</li>
            <li>Setting a date for trial.</li>
        </ul><br />


        <p2>You will have to go to court about once a month until these administrative areas are taken care of and 
    your case is resolved or a trial date is set.  </p2> <br/><br/>
        <p> Usually, your first appearence will be nothing more than seeing if the prosecutor has the evidence ready to give you. &nbsp; As
            your third and fourth appeareances come up, the court will want to know if you have hired a lawyer. &nbsp; 
            Around this time you will be expected to either set a date for trial or make a deal with the prosecutor. </p>
    <p>You will not be allowed to argue your case at set-date court.  This is reserved for trial.  </p>

        <br /><br />



