


        <h1 class=orange><b>Winning on the Merits</b> </h1>
        <br /><br />
        <p>
            Approximately half of all criminal cases in Canada end in a not guilty verdit. &nbsp; If your are charged with a criminal case, there is hope.
        </p>
        <br />
        <p>A criminal trial has 3 basic parts, opening statements, questioning witnesses, and closing statements. &nbsp; When 
          there is no jury, we usually skip the opening statements and move right to questioning witnesses.</p><br/>
        <p> Opening and closing statements are just a summary of the things the witnesses said and the evidence seen at 
        trial from your perspective. &nbsp; A trial is about asking witnesses questions. &nbsp; A skilled lawyer uses these questions
           to make his arguments and tell a story of what happened.
        </p>
        <br />
        <p>A good criminal lawyer will focus on only one or two points he is trying to make. &nbsp; Nearly 
           all the questions he asks witnesses will be related to these points. &nbsp; These points should also 
            be woven into a story outlining your version of what happened. </p>
<br />
        <p>For example, imagine a lawyer is trying to show that the police got the wrong person. &nbsp;
        In this case, many of the questions to witnesses will center on the witnesses ability to see. This like what the lighting was like,
        how long they saw the perpetrator for (a split second many minutes) etc. &nbsp; These points are 
        connected to a story - that someone else committed the crime, and that the witnesses mistakenly identified the 
        wrong person.  &nbsp;  Trials are won by showing, not telling.  Instead of telling
    the court that they got the wrong guy, show it by asking 
        witnesses and police questions that raise doubts about their identification.</p>

       