
<h1 class="orange">Assault</h1>
<br/>
<h3>Winning an Assault Case at Trial</h3>
<br />
<p>
    One way to win an assault case is by showing that it was a consensual fight. &nbsp; 
    This requires no one suffered any major injuries from the fight. &nbsp;
     In the case of minor injuries like a broken nose the court will look at whether
    you intended to cause the injuries.
</p>

<p>
    It is also possible to win an assualt charge by claiming self defense.   &nbsp; Self defence applies when you or someone else was being attacked
    and you acted in self defence to protect yourself or others.&nbsp;  Finally, there are also the ways available in every trial such as delaying the
    trial past the permissible time or kicking out the evidence which you can learn more <a href="{% url 'toc' %}">about here.</a></p>
<p>If you are wondering if you should go to trial or negotiate with the prosecutor, I can read over your disclosure and give you 
    and estimate on your chances of winning at trial for $ 100.00. </p>