<h1 class="orange"> Assault Lawyer</h1>
<br/>

<p> Assault is one of the most common criminal charges in Toronto, and most of those charges are domestic assault. 
Assault encompasses a broad range of acts from an unwelcome touch to physically beating up somebody</p>

<p>Assault is an area of law I have a lot of experience with.  
I have resolved multiple assault charges, and I am always working on several assault charges 
at any time. In cases where the assault is minor, and it was a first offense, it is usually possible to 
 convince the prosecutor to resolve the charges quickly without a criminal record.
<p> 

<h2> fees</h2>
<p>In cases of simple assault, 
I can negotiate with the prosecutor to drop the charges for just
 $400 a month for 3 months.  Contact me today at  </p>
 