<h1 class="orange">Fail to Comply</h1>
<br/>
<h3> How to get a fail to comply charge dropped </h3>
<br/>     

   <p>Fail to comply charges are sometimes dropped with a  suspended sentence if the breach was relatively minor
            and the original charge giving rise to fail to comply charge was minor. &nbsp; A suspended sentence means that you don’t have to
            go to jail so long as you keep the peace and be on good behaviour for a set period (usually 1 year).  </p>
 <br />      
<h3>How to win a fail to comply charge</h3>
<br />   
    <p>Fail to comply charges are difficult to win in court because half the evidence - the existence of the condition - is already
    in the prosecutor's hands.  &nbsp;  One way to win is to show that you had a reasonable excuse for breaching the condition.  &nbsp; 
        For example, if your condition was to stay away from a person, you can show that you didn't know that
        they would be at a particular place, ran into them accidently, and made an effort to stay away from them.  &nbsp; 
    If the condition was to show up at a place, you can show that it was impossible for you to go because
    you were in the hospital receiving treatment or in a car accident.</p>
<p>
    If you decide to try and negotiate with the prosecutor to have your charges dropped or withdrawn, then my
    price is $ 300 a month for three months.  
</p>