<h1 class="orange">How to Win an Impaired charge</h1>
<br/>
<h3>Winning a DUI case</h3>
<br/>
<p>
    Winning a drunk driving case is usually focused on the technical requirements of the breath test.  For example, the police must
    show that the machine was properly maintained and calibrated. &nbsp; They must show they gave you your 
    rights to counsel and they did two breath tests 20 minutes apart.  &nbsp; There are a host of other requirements that the 
    police must meet that a lawyer can review for you. 
</p>
<br/>
<h3>My DUI practice</h3><br/>
<p>I can review your disclsoure and see how likely you are to win your impared driving charge for $ 100. &nbsp;</p>