<h1 class="orange">Impaired Driving</h1>
<br/>
<h3>How to start driving in 3 months after a DUI</h3>
<br/>
<p>Impaired driving is punishable with a 1 year driving suspension for a first offence.  &nbsp;   
    However, is is possible to negotiate with the prosecutor and get back on the road in as little as 3 months.   </p>

<p>To be eligible for the shortened suspension you  have to offer to get an ignition interlock device temporally installed in your car. &nbsp; 
    An ignition interlock is a machine that won't let yout start your car until you pass a breath alcohol test. &nbsp; The device must stay on your car for 
    between 6 to 9 months. &nbsp;  It costs about $ 200 for installation, $ 150 a month for monitoring and $ 70 to get it removed.  </p>

<p>How much your suspension can be shortened with a device is determined by the specific circumstances 
    of your case.  &nbsp; To be eligible for a 3 month suspension, you must plead guilty within 90 days of the offence date.</p>
    
