<h1 class="orange">Mischief</h1>
<br/>
<h3>How to get a mischief charge dropped.</h3>
<br/>
<p>If the mischief involved only little damage or obstruction to property, a mischief charge can be dropped with probation and a discharge. &nbsp;
A discharge is not a conviction but will show up on your record as a discharge.  &nbsp; It will be on your record for 1 to
    3 years depending on the type of discharge you get.  &nbsp;
<p>If the mischief is more serious, a conditional sentence may be available which is a finding of guilt but does not involve prison 
    time or fine. </p>
