<h1 class="orange">Theft and Shoplifting</h1>
<br/>
<h3>How to Win</h3>
<br/>
<p>Theft cases are usually strong evidence cases. &nbsp; In cases where the theft rests on unclear CCTV evidence or witness 
    identification, the theft case can be won by raising questions about identity. &nbsp; That is 
    by raising questions about whether it was really you who committed the theft or if it's a case of mistaken identity.</p>
   <p> If you were caught with the stolen item, it’s possible to get that evidence kicked out if police found it pursuant
    to an illegal search. &nbsp; Theft cases can also be won by delaying the trial for the required period which you can learn 
    more about <a href="{% url 'toc' %}">here.</a></p>
<p>I can evaluate your theft case and give you an estimate of the possibility of winning for just $ 100.</p>
   