<h1 class="orange">Theft & Shoplifting.</h1>
<br/>
<h3>How to get a theft or shoplifting charges dropped</h3>
<br/>
<p>If the theft is a first offence and the value of the stolen item is small,
     I can usually get the charges dropped with diversion or a discharge.</p>
<p>To do this, I look for any weaknesses in the prosecutor's case.  I then look at your background to 
see if there are any mitigating cirucmstances.</p>
<p>Using this information, it's usually possible to convince the prosecutor to drop the charges.<p> 

<p> I can negotiate with the prosecutor to drop your charges for just $10 a day.   </p>