<h1 class="orange"> Uttering threats</h1>
<br />
<h3>How to get an uttering threats charge dropped</h3>
<br/>
<p>
    A charge for uttering threats can be dropped with diversion or a discharge. &nbsp; 
    A discharge is not a conviction but will show up on your record as a discharge. &nbsp; 
    A discharge will be on your record for 1 to 3 years depending on the type of discharge you get.  &nbsp; 
    Discharge or diversion are the most common resolutions for an uttering threats charge. </p>
    <br/>
    <h3>How to win in court</h3>
<br/>
<p> An uttering threats charge can be won if you can show that you didn’t intend for your statements to be taken seriously.  
&nbsp; For example, you can show that you were clearly joking or that your statement was never intended to instill fear. &nbsp;
There are also the ways available in all cases such as kicking out pieces of evidence or getting a dismissal via delay which you can
    learn more about <a href="{% url 'toc'%}">here.</a></p>

<p>I can negotiate to have your uttering threats charge dropped for $300 a month for 3 months.  