
<h1>Affordable Criminal Lawyer </h1> 


<p2>I am an experienced criminal lawyer with a track record of success.  Client 
reviews say I am a down to earth lawyer who is a passionate advocate who fights for 
his clients</p2> 

<h2>$15 a day</h2>

<p2>One of my goals is to make legal help affordable  for ordinary individuals without compromising quality.  
At the law office of Vivek David, my goal is to provide legal services at 
-affordable and predictable rates.  I can do cases for just $15 a day.</p2>

<h2> How it Works</h2> 


<p2>I generally offer a flat fee of $400 a month for less serious offenses and $450 a month for more serious 
offenses.  These fees are generally charged for 3 months for settlement and between 7 to 
10 months for a trial that takes less than 3 days. </p2> 

<p2>This rate does not apply to very complex matters that are expected to take more than 3 days for a 
trial.  Examples would be cases like murder, attempted murder, or cases with many witnesses. </p2> 

<h2> My practice </h2> 

<p>I work to set meetings with prosecutors as soon as possible and negotiate as hard as possible to get your charges dropped 
    as quickly as possible.  If a trial is required I go over all the evidence with you before going to court.  &nbsp; You can rest assured 
    that you are getting the best possible representation and that your side of the story will be heard. 
</p>

