<h1 class=orange>Legal Aid Lawyer</h1>
<p>
I am  criminal lawyer accepting legal aid clients in Toronto, Mississauga and Brampton.
   Normally, I only accept legal aid clients who  have already been approved by Legal Aid Ontario.  There are 2 exceptions:<br/>
  (1)  If you or a family member is incarcerated at Toronto South Detention center while awaiting trial, or <br/>
  (2) if you or a family member is currently incarcerated anywhere in the GTA while awaiting trial and want bail review. </p>
  <br/>
  <h3>Charges Gone Quickly</h3>
<p>I work to set meetings with prosecutors as soon as possible and negotiate as hard as possible to get your charges dropped 
    as quickly as possible. &nbsp; If a trial is required I go over all the evidence with you before going to court.  &nbsp; You can rest assured 
    that you are getting the best possible representation and that your side of the story will be heard. 
</p>

