<h1 class=orange>Theft & Shoplifting Lawyer</h1>
<h3>$10 a day</h3>
<p> I am a criminal lawyer serving clients accused of theft and shoplifting in Toronto, Brampton, Mississauga and the surrounding area</p>
<p>I fight assault charges for $10 a day.  To be eligible you must meet the following requirements:<br/>
<p>1. The items stolen must be worth less than $ 5000;<br/>
<p>2. The item stolen must not be an automobile; and,<br/>
<p>3. You must not be too close to the day of trial</p>
<br/>
<h3>Charges Gone Quickly</h3>

<p>I work to set meetings with prosecutors as soon as possible and negotiate as hard as possible to get your charges dropped 
    as quickly as possible. &nbsp; If a trial is required I go over all the evidence with you before going to court.  &nbsp; You can rest assured 
    that you are getting the best possible representation and that your side of the story will be heard. 
</p>
